QRST_DI_MS-Console/Service References/WS_QDB_Searcher_MySQL/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTreeCatalogByXML">
        <s:complexType />
      </s:element>
      <s:element name="GetTreeCatalogByXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTreeCatalogByXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldsByDataCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldsByDataCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldsByDataCodeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SerchMySQLDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listLogicalOperators" type="tns:ArrayOfLogicalOperator" />
            <s:element minOccurs="0" maxOccurs="1" name="listSimpleConditions" type="tns:ArrayOfSimpleCondition" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogicalOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LogicalOperator" type="tns:LogicalOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LogicalOperator">
        <s:restriction base="s:string">
          <s:enumeration value="ANDto" />
          <s:enumeration value="ORto" />
          <s:enumeration value="NotDefine" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfSimpleCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SimpleCondition" nillable="true" type="tns:SimpleCondition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimpleCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SC_Variable" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SC_FieldOperator" type="tns:FieldOperator" />
          <s:element minOccurs="0" maxOccurs="1" name="SC_Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldOperator">
        <s:restriction base="s:string">
          <s:enumeration value="Eto" />
          <s:enumeration value="NEto" />
          <s:enumeration value="Gto" />
          <s:enumeration value="GEto" />
          <s:enumeration value="Lto" />
          <s:enumeration value="LEto" />
          <s:enumeration value="Liketo" />
          <s:enumeration value="NLiketo" />
          <s:enumeration value="NotDefine" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SerchMySQLDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SerchMySQLDBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetTreeCatalogByXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTreeCatalogByXML" />
  </wsdl:message>
  <wsdl:message name="GetTreeCatalogByXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTreeCatalogByXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetFieldsByDataCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFieldsByDataCode" />
  </wsdl:message>
  <wsdl:message name="GetFieldsByDataCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFieldsByDataCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SerchMySQLDBSoapIn">
    <wsdl:part name="parameters" element="tns:SerchMySQLDB" />
  </wsdl:message>
  <wsdl:message name="SerchMySQLDBSoapOut">
    <wsdl:part name="parameters" element="tns:SerchMySQLDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTreeCatalogByXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">以一个XElement对象返回的数据库中数据类型目录</wsdl:documentation>
      <wsdl:input message="tns:GetTreeCatalogByXMLSoapIn" />
      <wsdl:output message="tns:GetTreeCatalogByXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldsByDataCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据数据类型编码获得可选字段列表</wsdl:documentation>
      <wsdl:input message="tns:GetFieldsByDataCodeSoapIn" />
      <wsdl:output message="tns:GetFieldsByDataCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SerchMySQLDB">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据查询条件对象编码获得查询结果数据集,LogicalOperator和SimpleCondition的数目要一样，LogicalOperator表示前后两个SimpleCondition的逻辑运算关系</wsdl:documentation>
      <wsdl:input message="tns:SerchMySQLDBSoapIn" />
      <wsdl:output message="tns:SerchMySQLDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreeCatalogByXML">
      <soap:operation soapAction="http://tempuri.org/GetTreeCatalogByXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldsByDataCode">
      <soap:operation soapAction="http://tempuri.org/GetFieldsByDataCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerchMySQLDB">
      <soap:operation soapAction="http://tempuri.org/SerchMySQLDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreeCatalogByXML">
      <soap12:operation soapAction="http://tempuri.org/GetTreeCatalogByXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldsByDataCode">
      <soap12:operation soapAction="http://tempuri.org/GetFieldsByDataCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerchMySQLDB">
      <soap12:operation soapAction="http://tempuri.org/SerchMySQLDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:11565/WS_QDB_Searcher_MySQL/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:11565/WS_QDB_Searcher_MySQL/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>