QRST_DI_MS-Console/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetFromSQLite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSourcePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetFromSQLiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetFromSQLiteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDistinct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="distinctSql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDistinctResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataDistinctResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearTileSatellites">
        <s:complexType />
      </s:element>
      <s:element name="SearTileSatellitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearTileSatellitesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearTileSensors">
        <s:complexType />
      </s:element>
      <s:element name="SearTileSensorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearTileSensorsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearTileLevels">
        <s:complexType />
      </s:element>
      <s:element name="SearTileLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearTileLevelsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearProTileLevels">
        <s:complexType />
      </s:element>
      <s:element name="SearProTileLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearProTileLevelsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearTilePaged">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="position" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="datetime" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="satellite" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sensor" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="datatype" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="tileLevel" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearTilePagedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearTilePagedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="allRecordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearPRODTilePaged">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="position" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="datetime" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="datatype" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="tileLevel" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearPRODTilePagedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearPRODTilePagedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="allRecordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSetFromSQLite" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetFromSQLiteResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataDistinct" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataDistinctResponse" />
  </wsdl:message>
  <wsdl:message name="SearTileSatellitesSoapIn">
    <wsdl:part name="parameters" element="tns:SearTileSatellites" />
  </wsdl:message>
  <wsdl:message name="SearTileSatellitesSoapOut">
    <wsdl:part name="parameters" element="tns:SearTileSatellitesResponse" />
  </wsdl:message>
  <wsdl:message name="SearTileSensorsSoapIn">
    <wsdl:part name="parameters" element="tns:SearTileSensors" />
  </wsdl:message>
  <wsdl:message name="SearTileSensorsSoapOut">
    <wsdl:part name="parameters" element="tns:SearTileSensorsResponse" />
  </wsdl:message>
  <wsdl:message name="SearTileLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:SearTileLevels" />
  </wsdl:message>
  <wsdl:message name="SearTileLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:SearTileLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="SearProTileLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:SearProTileLevels" />
  </wsdl:message>
  <wsdl:message name="SearProTileLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:SearProTileLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="SearTilePagedSoapIn">
    <wsdl:part name="parameters" element="tns:SearTilePaged" />
  </wsdl:message>
  <wsdl:message name="SearTilePagedSoapOut">
    <wsdl:part name="parameters" element="tns:SearTilePagedResponse" />
  </wsdl:message>
  <wsdl:message name="SearPRODTilePagedSoapIn">
    <wsdl:part name="parameters" element="tns:SearPRODTilePaged" />
  </wsdl:message>
  <wsdl:message name="SearPRODTilePagedSoapOut">
    <wsdl:part name="parameters" element="tns:SearPRODTilePagedResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
    <wsdl:part name="DataSourcePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctHttpGetIn">
    <wsdl:part name="distinctSql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileSatellitesHttpGetIn" />
  <wsdl:message name="SearTileSatellitesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileSensorsHttpGetIn" />
  <wsdl:message name="SearTileSensorsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileLevelsHttpGetIn" />
  <wsdl:message name="SearTileLevelsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearProTileLevelsHttpGetIn" />
  <wsdl:message name="SearProTileLevelsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
    <wsdl:part name="DataSourcePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSetFromSQLiteHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctHttpPostIn">
    <wsdl:part name="distinctSql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataDistinctHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileSatellitesHttpPostIn" />
  <wsdl:message name="SearTileSatellitesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileSensorsHttpPostIn" />
  <wsdl:message name="SearTileSensorsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearTileLevelsHttpPostIn" />
  <wsdl:message name="SearTileLevelsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SearProTileLevelsHttpPostIn" />
  <wsdl:message name="SearProTileLevelsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，未测试。 </wsdl:documentation>
      <wsdl:input message="tns:GetDataSetFromSQLiteSoapIn" />
      <wsdl:output message="tns:GetDataSetFromSQLiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，查询数据库去重字段取值，一般用于查询之前查找字段取值可能性。或者类似功能。</wsdl:documentation>
      <wsdl:input message="tns:GetDataDistinctSoapIn" />
      <wsdl:output message="tns:GetDataDistinctSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有卫星类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSatellitesSoapIn" />
      <wsdl:output message="tns:SearTileSatellitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有传感器类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSensorsSoapIn" />
      <wsdl:output message="tns:SearTileSensorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有数据切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearTileLevelsSoapIn" />
      <wsdl:output message="tns:SearTileLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有产品切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearProTileLevelsSoapIn" />
      <wsdl:output message="tns:SearProTileLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTilePaged">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">产品切片,返回结果分页，可指定页大小。所有参数须实例化不能为null</wsdl:documentation>
      <wsdl:input message="tns:SearTilePagedSoapIn" />
      <wsdl:output message="tns:SearTilePagedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearPRODTilePaged">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HJ产品（切片）,实现了分页检索（QRST内部）。所有参数须实例化不能为null</wsdl:documentation>
      <wsdl:input message="tns:SearPRODTilePagedSoapIn" />
      <wsdl:output message="tns:SearPRODTilePagedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，未测试。 </wsdl:documentation>
      <wsdl:input message="tns:GetDataSetFromSQLiteHttpGetIn" />
      <wsdl:output message="tns:GetDataSetFromSQLiteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，查询数据库去重字段取值，一般用于查询之前查找字段取值可能性。或者类似功能。</wsdl:documentation>
      <wsdl:input message="tns:GetDataDistinctHttpGetIn" />
      <wsdl:output message="tns:GetDataDistinctHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有卫星类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSatellitesHttpGetIn" />
      <wsdl:output message="tns:SearTileSatellitesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有传感器类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSensorsHttpGetIn" />
      <wsdl:output message="tns:SearTileSensorsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有数据切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearTileLevelsHttpGetIn" />
      <wsdl:output message="tns:SearTileLevelsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有产品切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearProTileLevelsHttpGetIn" />
      <wsdl:output message="tns:SearProTileLevelsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，未测试。 </wsdl:documentation>
      <wsdl:input message="tns:GetDataSetFromSQLiteHttpPostIn" />
      <wsdl:output message="tns:GetDataSetFromSQLiteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用方法，查询数据库去重字段取值，一般用于查询之前查找字段取值可能性。或者类似功能。</wsdl:documentation>
      <wsdl:input message="tns:GetDataDistinctHttpPostIn" />
      <wsdl:output message="tns:GetDataDistinctHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有卫星类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSatellitesHttpPostIn" />
      <wsdl:output message="tns:SearTileSatellitesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据切片中的所有传感器类型取值</wsdl:documentation>
      <wsdl:input message="tns:SearTileSensorsHttpPostIn" />
      <wsdl:output message="tns:SearTileSensorsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有数据切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearTileLevelsHttpPostIn" />
      <wsdl:output message="tns:SearTileLevelsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询数据库中已有产品切片等级的列表，可提供给客户端作为查询条件</wsdl:documentation>
      <wsdl:input message="tns:SearProTileLevelsHttpPostIn" />
      <wsdl:output message="tns:SearProTileLevelsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <soap:operation soapAction="http://tempuri.org/GetDataSetFromSQLite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <soap:operation soapAction="http://tempuri.org/GetDataDistinct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <soap:operation soapAction="http://tempuri.org/SearTileSatellites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <soap:operation soapAction="http://tempuri.org/SearTileSensors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <soap:operation soapAction="http://tempuri.org/SearTileLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <soap:operation soapAction="http://tempuri.org/SearProTileLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTilePaged">
      <soap:operation soapAction="http://tempuri.org/SearTilePaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearPRODTilePaged">
      <soap:operation soapAction="http://tempuri.org/SearPRODTilePaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <soap12:operation soapAction="http://tempuri.org/GetDataSetFromSQLite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <soap12:operation soapAction="http://tempuri.org/GetDataDistinct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <soap12:operation soapAction="http://tempuri.org/SearTileSatellites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <soap12:operation soapAction="http://tempuri.org/SearTileSensors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <soap12:operation soapAction="http://tempuri.org/SearTileLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <soap12:operation soapAction="http://tempuri.org/SearProTileLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTilePaged">
      <soap12:operation soapAction="http://tempuri.org/SearTilePaged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearPRODTilePaged">
      <soap12:operation soapAction="http://tempuri.org/SearPRODTilePaged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <http:operation location="/GetDataSetFromSQLite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <http:operation location="/GetDataDistinct" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <http:operation location="/SearTileSatellites" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <http:operation location="/SearTileSensors" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <http:operation location="/SearTileLevels" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <http:operation location="/SearProTileLevels" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetFromSQLite">
      <http:operation location="/GetDataSetFromSQLite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDistinct">
      <http:operation location="/GetDataDistinct" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSatellites">
      <http:operation location="/SearTileSatellites" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileSensors">
      <http:operation location="/SearTileSensors" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearTileLevels">
      <http:operation location="/SearTileLevels" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearProTileLevels">
      <http:operation location="/SearProTileLevels" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.2.101/WS_QDB_Searcher_Sqlite/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.2.101/WS_QDB_Searcher_Sqlite/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://192.168.2.101/WS_QDB_Searcher_Sqlite/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://192.168.2.101/WS_QDB_Searcher_Sqlite/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>